// 引入变量
@import 'var';


/*清除默认样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{ margin:0; padding:0; }
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
select, input { vertical-align:middle;}
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }

/*公共样式*/ 
a{color:$color;text-decoration:none;}
a:hover{text-decoration:underline;color:#FF5555;}

body{margin:0;padding:0;color:$color;}
ul{list-style:none;padding:0;margin:0;}

/*公共类*/
.container {  /*内容、版心 提取 */
    width: 1200px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.ac {
    text-align:center;
}
.hide {
    display:none;
}
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.clearfix::after{
    content:"";
    display:block;
    height: 0;
    clear:both;
    overflow:hidden;
    visibility: hidden;
    zoom:1;
}


// 底部
.footer-link{
    background-color:#f4f4f4;height: 340px;width: 100%;font-size:16px;

    .footer-link-t{
        border-top:1px solid #eee;border-bottom:1px solid #eee;height: 110px;
        
        .container{
            background:url(../img/nsgfoot_bz.png) no-repeat;height: 90px;margin:10px auto;
        }
        
    }

    .footer-link-b{
        width: 100%;height: 230px;padding-top:50px;

        .qr-code{
            margin-left:24px;width: 160px;height: 180px;

            p{
                padding-left:25px;font-size: 12px;
            }
        }
        
        ul{

            li{
                float: left;border-right:1px solid #eee;padding:0 33px;
                
                h3{
                    font-size: 18px;line-height: 36px;
                }
                p{
                    line-height: 40px;
                    a:hover{
                        color:#555;
                    }
                }
            }
            
            li.contact-us{
                border:none;
                p:nth-child(3){
                    font-size: 12px;line-height: 12px;
                }
                p:last-child{
                    border:1px solid #ddd;border-radius:5px;width: 100px;height: 28px;line-height: 25px;text-align:center;font-size: 14px;margin-top:10px;cursor:pointer;
                    
                }
            }
            li.follow-us{
                border:none;padding-left:50px;
                i{
                    background:url(../img/indexBottom.png) no-repeat;width: 45px;height: 45px;display: inline-block;margin-top:10px;
                    
                }
                i:nth-child(2){
                    background-position:-8px 0;margin-right:15px;
                }
                i:nth-child(3){
                    background-position:-8px -45px;
                }
            }
        }
    }
}

.footer-bottom{
    width: 100%;height: 70px;padding-top:20px;
    p{
        font-size: 14px;text-align: center;line-height: 30px;
    }
    p:nth-child(1){
        a{
           padding:0 10px;
        }
    }
    
}
