// 引入变量
@import 'var';


/*清除默认样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{ margin:0; padding:0; }
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
select, input { vertical-align:middle;}
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }

/*公共样式*/ 
a{color:$color;text-decoration:none;}
a:hover{text-decoration:underline;color:#FF5555;}

body{margin:0;padding:0;color:$color;}
ul{list-style:none;padding:0;margin:0;}

/*公共类*/
.container {  /*内容、版心 提取 */
    width: 1200px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.ac {
    text-align:center;
}
.hide {
    display:none;
}
.f12{ font-size: 12px;}
.f14{ font-size: 14px;}
.f16{ font-size: 16px;}
.clearfix::after{
    content:"";
    display:block;
    height: 0;
    clear:both;
    overflow:hidden;
    visibility: hidden;
    zoom:1;
}


// app下载
.app{
    background-color:#FFFBEA;color:#ba9c6d;padding:14px 0;
    i{
        background:url(../img/ico-info.png) no-repeat;
        width: 22px;height: 23px;margin-right:10px;
        display: inline-block;vertical-align: bottom;        
    }
    a{
        margin:0 10px;color:#1cbcb4;
    }

}

// 登录
.top-bar{
    border-bottom:1px solid #f0f0f0;background-color:#fafafa;line-height: 30px;font-size: 12px;
    .topbar-l{
        height: 30px;
        a:hover{
            color:$color;
        }
        span{
            padding-left:10px;
            i{
                vertical-align: middle;
                display: inline-block;
                width: 20px;height: 20px;
                background:url(../img/toplogin.png) no-repeat;
            }
            i.qq{
                background-position:0 0 ;
            }
            i.weibo{
                background-position:-20px 0;
            }
            a:hover{
                i.qq{
                background-position:-60px 0 ;
                }
                i.weibo{
                    background-position:-80px 0;
                }
            }    
        }        
    }

    .topbar-r{
        height: 30px;width: 50%;
        position:relative;

        .my-order{
            width: 88px;
            border:1px solid #eee;
            z-index:5;
            em{
                display: inline-block;
                vertical-align: middle;
                width: 15px;height: 15px;
                margin-left:10px;
                background:url(../img/top_ico.png) no-repeat;
            }
            i{
                display: inline-block;
                vertical-align: middle;
                width: 6px;height: 6px;
                background:url(../img/top_bg.png) 0 0 no-repeat;
            }
            a:hover{
                text-decoration:none;color:$color;
            }
            ul{        
                display: none;
                z-index:5;
                li{
                    padding-left:10px;
                } 
                li:hover{
                    background:#f0f0f0;
                }               
            }            
        }
        .order1{
            position:absolute;top:0px;right:180px;
            em{
                background-position:-30px -15px;
            }
        }
        .order2{
            position:absolute;top:0px;right:90px;
            em{
                background-position:-45px -15px;
            }
        }
        .order3{
            position:absolute;top:0px;right:0px;
            em{
                background-position:-60px -15px;
            }
        }
        .hover{
            border:1px solid #eee;background-color:#fff;               
            ul{        
                display: block; 
            }
        } 
            
    }
}

// 搜索
.top-logo{
    height: 80px;font-size: 12px;width: 100%;
    background:#fff;z-index:10;padding-top:20px;
    
    h2{
        width: 400px;
    }

    .search{
        width: 500px;height: 40px;border:2px solid $mainColor;border-radius:30px;
        position:relative;
        
        a{
            font-size: 14px;display: inline-block;
            line-height: 40px;margin:0 15px;padding:0 10px;background:#fff;
        }
        a.shop2{
            position:absolute;top:40px;left:0px;display: none;
        }
        a:hover{
            text-decoration:none;color:$color;
        }
        input{
            width: 335px;
        }
        button{
            display: inline-block;width: 78px;height: 36px;color:#fff;border-radius:20px;cursor:pointer;background-color:$mainColor;
        }
    }

    ul{

        li{
            float: left;margin:10px 10px 0 0 ;
            a:hover{
                text-decoration:none;color:$color;
            }
        }
    }

    .user-menu{
        padding:0px 0 10px 40px;
        
        em{
            display: inline-block;
            vertical-align: middle;
            width: 20px;height: 20px;
            margin-left:10px;
            background:url(../img/top_bg.png) no-repeat;
        }
        i{
            font-size: 12px;color:#aaa;
        }
        a:hover{
                text-decoration:none;color:$color;
            }
        .my-mall{
            width: 110px;height: 38px;
            border:1px solid #eee;
            line-height: 38px;
            background-color:#fafafa;
            position:relative;
            em{
                background-position:-100px 0;
            }

            .mall-inc{
                border:1px solid #eee;
                width: 300px;min-height:221px;
                position:absolute;
                top:38px;right:-1px;
                background:#fff;z-index:2;
                display:none;
                .mall-inc-t{
                    height: 40px;
                    padding-right:10px;
                    border-bottom:1px solid #eee;
                    text-align:right;
                }

                .mall-inc-c{
                    padding:10px 0;
                    height: 90px;
                    .inc{
                        width: 139px;padding-left:10px;
                        border-right:1px solid #eee;

                        a{
                            color:$mainColor;
                            display: block;
                            width: 139px;height: 30px;line-height: 30px;
                        }
                    }
                }
                
                .mall-inc-b{
                    padding:0 10px;
                    a{float:right;color:$mainColor;}
                    span{float:left;}
                }
                p{
                    height: 30px;
                    line-height: 30px;
                    padding:0 10px;
                    text-align:center;
                    
                }
            }
            
        }
        .my-mall:hover{
            background:#fff;
            i{transform:rotate(180deg)}
            .mall-inc{
                display: block;
            }
        } 
       
        
        .my-cart{
            width: 125px;height: 38px;
            border:1px solid #eee;
            margin-left:6px;
            line-height: 38px;
            background-color:#fafafa;
            position:relative;
            
            em{
                background-position:-120px 0;
            }
            
            .shu{
                border-radius:50%;
                background:#f00;
                position:absolute;
                top:-10px;left:21px;
                display: inline-block;
                width: 20px;height: 20px;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align:center;
                color:#fff;
            }
            
            .car-list{
                width: 400px;
                border:1px solid #ddd;
                background:#fff;
                position:relative;
                top:0px;right:276px;
                z-index:5;
              
                display:none;
                h3{
                    height: 40px;line-height: 40px;
                    padding-left:10px;
                    border-bottom:1px solid #ddd;
                }
                
                ul.shopcar{
                    width: 400px;
                    li{
                        border-bottom:1px solid #ddd;
                        height: 70px;width: 400px;
                        clear:both;
                        img{
                            float:left;padding:0 10px;
                            width: 50px;height: 50px;
                        }
                        .goodsname{
                            width: 240px;line-height: 20px;height: 70px;padding-right:10px;
                            float:left;
                        }
                        .goodsp{
                            float:left;
                            width: 60px;height: 70px;
                                vertical-align:top;
                            span{
                            }
                        }
                    }
                }
                .cart-b{
                    background:#eee;
                    height: 70px;
                    width: 400px;
                    overflow:hidden;
                    p{
                        text-align:right;
                        padding-right:10px;
                        height: 30px;line-height: 30px;
                        span{
                            color:#c00;font-style: 16px;line-height: 30px;
                        }
                    }
                    button{
                        float:right;
                        background:$mainColor;
                        padding:5px 10px;
                        border-radius:3px;
                        a{
                            color:#fff;
                        }
                    }
                }
            }
        } 

        .my-cart:hover{
            background:#fff;
            i{transform:rotate(180deg)}
            .car-list{
                display: block;
            }   
        }       
    }
    
}
.logo-top{
    position:fixed;top:0;left:0;
    height: 50px;padding-top:5px;

    ul.sear{
        display:none;
    }
}
.msp{
    margin-bottom:100px;
}


// 导航
.nav{
    background-color: $mainColor;

    li{
        float: left;height:35px;

        i.lei{
            display: inline-block;
            vertical-align: middle;
            width: 18px;height: 18px;
            padding-right:10px;
            background:url(../img/top_bg.png) -182px -186px no-repeat;
        }
        i.dapp{
            display: inline-block;
            vertical-align: middle;
            width: 14px;height: 25px;
            padding-right:10px;
            background:url(../img/icon_download.png) 8px 0 no-repeat;
        }
        a{
            color:#fff;font-size:16px;line-height: 35px;height:35px;display: inline-block;text-decoration:none;padding:0 18px;
        }
        a:hover{
            background-color:#1280DD;
        }       
    }
    li:first-child{
        background-color:#1280DD;
    }
    li:last-child{
        float:right;
    }
    li:last-child:hover{
        background-color:#1280DD;
    }
      
    li:nth-child(2){
        font-weight: bold;
    }
    
    li:first-child,
    li:last-child{
        padding:0 10px;
        a{
            padding:0 5px;
        }
        a:hover{
            text-decoration:underline;
        }
    }
}


// 底部
.footer-link{
    background-color:#f4f4f4;height: 340px;width: 100%;font-size:16px;

    .footer-link-t{
        border-top:1px solid #eee;border-bottom:1px solid #eee;height: 110px;
        
        .container{
            background:url(../img/nsgfoot_bz.png) no-repeat;height: 90px;margin:10px auto;
        }
        
    }

    .footer-link-b{
        width: 100%;height: 230px;padding-top:50px;

        .qr-code{
            margin-left:24px;width: 160px;height: 180px;

            p{
                padding-left:25px;font-size: 12px;
            }
        }
        
        ul{

            li{
                float: left;border-right:1px solid #eee;padding:0 33px;
                
                h3{
                    font-size: 18px;line-height: 36px;
                }
                p{
                    line-height: 40px;
                    a:hover{
                        color:#555;
                    }
                }
            } 
            
            li.contact-us{
                border:none;
                p:nth-child(3){
                    font-size: 12px;line-height: 12px;
                }
                p:last-child{
                    border:1px solid #eee;border-radius:5px;width: 100px;height: 28px;line-height: 25px;text-align:center;font-size: 14px;margin-top:10px;cursor:pointer;
                    
                }
            }
            li.follow-us{
                border:none;padding-left:50px;
                i{
                    background:url(../img/indexBottom.png) no-repeat;width: 45px;height: 45px;display: inline-block;margin-top:10px;
                    
                }
                i:nth-child(2){
                    background-position:-8px 0;margin-right:15px;
                }
                i:nth-child(3){
                    background-position:-8px -45px;
                }
            }
        }
    }
}

.footer-bottom{
    width: 100%;height: 70px;padding-top:20px;
    p{
        font-size: 14px;text-align: center;line-height: 30px;
    }
    p:nth-child(1){
        a{
           padding:0 10px;
        }
    }
    
}


// 注册登录头部
.header{
    width: 100%;height: 80px;border-bottom:3px solid #EAF4FA;
    img{
        width: 220px;height: 60px;margin: 10px 0;
    }
    span{
        font-size: 12px;padding:7px 20px;margin:25px 0 25px 15px;border:1px solid #FFB4A8;background-color:#FEF2F2;
    }
    a:last-child{
        background-color:$mainColor;color:#fff;font-size: 14px;padding:6px 20px;margin:25px 0;float:right;border-radius:3px;
    }
}