@import 'var';

.nsg-goods{

    font-size: 12px;
    h3{
       height: 40px;line-height: 40px;
       font-weight: normal;
       
       a:hover{ 
            color:$mainColor;
       }
    }

    .n-goods{
        width: 100%;height: 460px;
        border:1px solid #ddd;
        
        .goods-l{
            padding:20px 30px 0 20px;
            width: 320px;height: 460px;
            .goods{
                img{
                    width: 320px;height: 320px;
                }
                
            }
            ul{
                height: 50px;
                margin:10px 0;
                li{
                    float:left;
                    border:1px solid #ddd;
                    margin-right:10px;
                    cursor:pointer;

                    img{
                        width: 50px;height: 50px;
                    }
                }
            }
            
            .share{
                border-top:1px solid #ddd;
                padding-top:15px;
                a{
                    text-decoration:none;
                    padding:2px 5px;
                    margin:0 5px;
                    border:1px solid #ddd;
                    display: inline-block;
                    
                }
                a:hover{
                    color:#555;
                }
                a:nth-child(3){
                    background:$mainColor;
                    border-radius:5px;
                }
                a:nth-child(4){
                    float:right;
                }
            }

        }

        .goods-c{
            width: 618px;height: 100%;
            border-left:1px solid #ddd;
            border-right:1px solid #ddd;

            h3{
                height: 55px;line-height: 55px;
                font-size: 15px;
                font-weight: bold;
                padding-left:10px;
            }

            .goods-meta{
                position:relative;
                .goods-price{
                    background:#E2E2E2;
                    height: 108px;
                    padding:15px 0;

                    p{
                        height: 36px;line-height: 36px;
                        label{
                            width: 90px;text-align:right;
                            display: inline-block;
                        } 
                    }

                    .qr-code{
                        position:absolute;
                        right:10px;top:10px;
                        background:url(../img/qr-code-s.png);
                        width: 102px;height: 118px;
                    }
                }
                dt{
                    width: 90px;text-align:right;
                    display: inline-block;
                }
                dd{display: inline-block;}
                
                
                .serve{
                    height: 16px;padding-top:20px;
                    a,span{
                        color:#c00;
                        font-weight: bold;
                    }
                }
                .convey{
                    height: 40px;line-height: 40px;
                }
                .color{
                    height: 30px;padding-top:20px;
                   
                    span{
                        border:1px solid #ddd;
                        padding:5px 10px;
                        margin:5px;
                        cursor:pointer;
                    }
                    span.hover{
                        box-shadow:0 0 0 2px $mainColor inset;
                        font-weight: bold;
                    }
                }
                .size{
                    @extend .color;
                }
                .goods-buy{
                    margin:20px 30px;
                    height: 42px;width: 310px;
                    position:relative;
                    .stock{
                        display:none;
                        position:absolute;
                        bottom:-50px;left:20px;
                        width: 150px;height: 35px;
                        line-height: 35px;
                        border-radius:3px;
                        background:#FFFF7D;
                        text-align:center;
                        span{
                            font-weight: bold;
                            color:#c00;
                        }
                        i{
                            position:absolute;
                            border:10px solid transparent;
                            border-bottom-color:#FFFF7D;
                            left:20px;top:-20px; 
                        }
                    }
                    .goods-qty{
                        width: 65px;height: 42px;
                        position:relative;
                        input{
                            color: #333;
                            font-family: Tahoma;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 40px;
                            text-align: center;
                            height: 40px;
                            padding:0;
                            width: 40px;
                            border: solid 1px #ddd;
                        }
                        i{
                            background:url(../img/ncs_pub.png);
                            display: block;
                            width: 20px;
                            height: 20px;
                            border-style: solid;
                            border-color: #E6E6E6;
                            border-width: 1px 1px 1px 0;
                            position: absolute;
                            z-index: 1;
                            left: 42px;
                            cursor:pointer;
                        }
                        i:nth-child(2){
                            background-position:-100px -100px;
                            top:0;right:0;
                        }
                        i:nth-child(3){
                            background-position:-120px -100px;
                            top:20px;right:0;
                        }
                    }
                    .to-car{
                        width: 120px;height: 42px;
                        color:#fff;line-height: 42px;
                        font-size: 16px;
                        background:#f40;
                        border-radius:5px;
                        text-align:center;
                        margin-left:10px;
                        cursor:pointer;
                    }
                    .to-car:hover{
                        background:#f20;
                    }
                    .to-buy:hover{
                        background:#BA5838;
                    }
                    .to-buy{
                        @extend .to-car;
                        width: 100px;height: 42px;
                        background:#BA7538;
                        a{
                            color:#fff;
                            text-decoration:none;
                        }
                    }
                }
                .goods-buy:hover{
                    .stock{
                        display:block;
                    }
                }
            }
        }

        .goods-r{
            width: 210px;height: 100%;font-size: 12px;
            h3{
                font-size: 14px;
                font-weight: bold; 
                height: 36px;line-height: 36px;
                background:#fafafa;
                padding-left:10px;
            }
            
            dl{
                height: 30px;line-height: 30px;;
                dt{
                    width: 70px;text-align:right;
                    display: inline-block;
                }
                dd{
                    display: inline-block;
                }
            }
            .grade{
            
                i{
                    background:url(../img/good.png);
                    width: 80px;height: 20px;
                }
                span{
                    color:#c00;
                }
            }

            .serve{
                li{
                    padding-left:10px;
                    height: 30px;line-height: 30px;

                    span{
                        color:#c00;
                    }
                    b{
                        color:#fff;
                        padding:2px 10px;
                        background:#c00;
                        margin-left:5px;
                    }
                }
            }

            .into{
                height: 30px;line-height: 30px;
                text-align:center;
                a{
                    color:$mainColor;
                    margin:0 5px;
                }
            }

            .map{
                margin-top:20px;
                border-top:1px solid #ddd;
                height: 30px;
                
                li{
                    float:left;height: 30px;
                    position:relative;
                    i{
                        background:url(../img/public.png);
                        width: 20px;height: 20px;
                        display: inline-block;
                        vertical-align:middle;
                        margin:0 5px;
                    }

                    a{
                        background:#eee;width: 105px;height: 30px;line-height: 30px;
                        display: inline-block;
                    }
                    a:hover{background:#fff;}
                    img{
                        border:1px solid #ddd;
                        padding:5px;background:#fff;
                        width: 200px;height: 200px;
                        display:none;
                        position:absolute;left:-1px;
                    }
                }
                li:first-child{
                    i{
                        background-position:5px -159px;
                    }
                    p{

                    }
                }
                li:last-child{
                    i{
                        background-position:-95px -159px;
                    }
                    img{
                        left:-106px;top:30px;
                    }
                }
                li:hover{
                    img{display:block;}
                }
            }

        }
    }


    .goods-tab{
        border:1px solid #ddd;
        min-height:80px;
        margin:20px 0;

        .tab-header{
            height: 40px;line-height: 40px;

            span{
                float:left;
                border-right:1px solid #ddd;
                border-bottom:1px solid #ddd;
                padding:0px 20px;
                cursor:pointer;                
            }
            span.active{
                border-top:3px solid $mainColor;
                border-bottom:none;
            }
            em{
                width: 810px;height: 40px;
                border-bottom:1px solid #ddd;
                float:left;
            }
        }
        .tab-content{
            padding:30px;
            div{
                display:none;line-height: 20px;
                position:relative;
                b{
                    color:#c00;font-size: 30px;
                }
                span{
                    position:absolute;
                    top:10%;right:10%;
                    padding:10px 20px;
                    background:#f55;
                    color:#fff;
                    border-radius:5px;
                    cursor:pointer;
                }
                em{
                    background:url(../img/ncs_pub.png) -140px 0;
                    width: 90px;height: 30px;
                    display: inline-block;
                    
                }
            }
            .tab{
                display:block;
            }
        }

    }

    .picture{
        border:1px solid #ddd;
        margin-bottom:20px;
        font-size: 14px;line-height: 30px;
    }
}