// 引入变量
@import 'var';



.carousel-content{
    width: 100%;
    height: 400px;
    position: relative;

    .carousel{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        li{
            float: left;
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;

            img{
                width: 100%;height: 100%;
                background:center no-repeat;
            }

            a{
                display:inline-block;
                width: 800px;height: 300px;
                position: absolute;
                top:0;left:300px;
            }
        }   
    }

    .carousel-index{
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        li{
            float: left;
            width: 45px;
            height: 6px;
            border-radius: 5px;
            background-color: rgba(10,10,10,0.3);
            cursor: pointer;
            margin: 0 3px;
        }

        li.current-index{
            background-color: $mainColor;
        }
    }

    .carousel-prev,.carousel-next{
        position: absolute;
        top: 0;
        bottom: 0;
        cursor: pointer;
        margin: auto;
        width: 40px;
        height: 80px;
        background:rgba(0,0,0,.1);

        img{
            width: 100%;height: 100%;
        }
        
    }
    .carousel-prev:hover,.carousel-next:hover{
        background:rgba(0,0,0,.5);
    }
    .carousel-prev{
        left: 50px;
    }
    .carousel-next{
        right: 50px;
    }
}


// 商品
.nsg-goods{
    .goods{
            height: 488px;margin-bottom:5px;
        h3{
            font-weight: normal;height: 37px;line-height: 36px;margin-top:18px;border-bottom:2px solid #ddd;
            a{
                color:$mainColor;font-size:16px;border-bottom:2px solid $mainColor;display: inline-block;
            }
            span{
                float: right;font-size: 14px;display: inline-block;
                
            }
        }
        p{
            height: 20px;line-height: 20px;font-size: 12px;padding-top:10px;

            a{
                padding-right:10px;
            }
        }

        li{
            float: left;width: 290px;height: 405px;border:2px solid #fff;margin-right:8px;margin-top:10px;

            img{
                width: 290px;height: 290px;
            }

            div.price{
                border:2px solid #efefef;
                p{
                    overflow:hidden;  width: 280px;white-space: nowrap;text-overflow: ellipsis;padding-left:10px;

                }
                p:last-child{
                    margin:20px 20px 10px 20px;padding:0;width: 250px;height: 50px;
                    span{
                        font-size: 20px;color:#f55;line-height: 20px;
                    }
                    a{
                        display: inline-block;line-height: 30px;font-size: 14px;padding:0 20px;float:right;background:#f55;color:#fff;border-radius:5px;                   
                    }
                    a:hover{
                        color:#f00;
                    }
                }
            }

        }
        li:last-child{margin-right:0;}
        li:hover{
            border:2px solid $mainColor;transform: translate3d(0,-5px,0);box-shadow: 0 5px 5px 5px rgba(0,0,0,.1);
        }
    }
}





