// 引入变量
@import 'var';

// app下载
.app{
    background-color:#FFFBEA;color:#ba9c6d;padding:14px 0;
    i{
        background:url(../img/ico-info.png) no-repeat;
        width: 22px;height: 23px;margin-right:10px;
        display: inline-block;vertical-align: bottom;        
    }
    a{
        margin:0 10px;color:#1cbcb4;
    }

}

// 登录
.top-bar{
    border-bottom:1px solid #f0f0f0;background-color:#fafafa;line-height: 30px;font-size: 12px;
    .topbar-l{
        height: 30px;
        a:hover{
            color:$color;
        }
        span{
            padding-left:10px;
            i{
                vertical-align: middle;
                display: inline-block;
                width: 20px;height: 20px;
                background:url(../img/toplogin.png) no-repeat;
            }
            i.qq{
                background-position:0 0 ;
            }
            i.weibo{
                background-position:-20px 0;
            }
            a:hover{
                i.qq{
                background-position:-60px 0 ;
                }
                i.weibo{
                    background-position:-80px 0;
                }
            }    
        }        
    }

    .topbar-r{
        height: 30px;width: 50%;
        position:relative;

        .my-order{
            width: 78px;padding-left:10px;
            border:1px solid #fafafa;
            em{
                display: inline-block;
                vertical-align: middle;
                width: 15px;height: 15px;
                background:url(../img/top_ico.png) no-repeat;
            }
            i{
                display: inline-block;
                vertical-align: middle;
                width: 6px;height: 6px;
                background:url(../img/top_bg.png) 0 0 no-repeat;
            }
            a:hover{
                text-decoration:none;color:$color;
            }
            ul{        
                display: none;                
            }            
        }
        .order1{
            position:absolute;top:0px;right:180px;
            em{
                background-position:-30px -15px;
            }
        }
        .order2{
            position:absolute;top:0px;right:90px;
            em{
                background-position:-45px -15px;
            }
        }
        .order3{
            position:absolute;top:0px;right:0px;
            em{
                background-position:-60px -15px;
            }
        }
        .hover{
            border:1px solid #eee;background-color:#fff;               
            ul{        
                display: block; 
            }
        } 
            
    }
}

// 搜索
.top-logo{
    height: 100px;font-size: 12px;
    
    h2{
        padding-top:15px;width: 400px;
    }

    .search{
        width: 500px;height: 40px;border:2px solid $mainColor;border-radius:30px;margin-top:20px;position:relative;
        
        a{
            font-size: 14px;display: inline-block;
            line-height: 40px;margin:0 15px;padding:0 10px;background:#fff;
        }
        a.shop2{
            position:absolute;top:40px;left:0px;display: none;
        }
        a:hover{
            text-decoration:none;color:$color;
        }
        input{
            width: 335px;
        }
        button{
            display: inline-block;width: 78px;height: 36px;color:#fff;border-radius:20px;cursor:pointer;background-color:$mainColor;
        }
    }

    ul{
        li{
            float: left;margin:10px 10px 0 0 ;
            a:hover{
                text-decoration:none;color:$color;
            }
        }
    }

    .user-menu{
        padding:20px 0 40px 50px;
        
        em{
            display: inline-block;
            vertical-align: middle;
            width: 20px;height: 20px;
            margin-left:10px;
            background:url(../img/top_bg.png) no-repeat;
        }
        a:hover{
                text-decoration:none;color:$color;
            }
        .my-mall{
            width: 110px;height: 38px;border:1px solid #eee;line-height: 38px;background-color:#fafafa;
            
            em{
                background-position:-100px 0;
            }
            
        }   

        .my-cart{
            width: 125px;height: 38px;border:1px solid #eee;margin-left:6px;line-height: 38px;background-color:#fafafa;
            
            em{
                background-position:-120px 0;
            }
            
        }       
    }
    
}

// 导航
.nav{
    background-color: $mainColor;

    li{
        float: left;height:35px;
        a{
            color:#fff;font-size:16px;line-height: 35px;padding:0 20px;height:35px;display: inline-block;
        }
        a:hover{
            background-color:#1280DD;text-decoration:none;
        }
    }

    li:nth-child(2){
        font-weight: bold;
    }

    li:first-child,
    li:last-child{
        a:hover{
            text-decoration:underline;
        }
    }
}

// 轮播图
.banner{
    height: 400px;
    // background-position:center;
    // background-size: contain;
    // background:url(../img/web-1.jpg) center top no-repeat;

    ul{
        position:relative;
        width: 100%;height: 100%;

        li{
            position:absolute;width: 100%;height: 100%;
            background:url(../img/web-1.jpg) center top no-repeat;

            a{
                display: inline-block;left:50%;top:0;position:absolute;transform:translate(-50%,0);
                width: 776px;height: 300px;background:rgba(0,0,0,0);
            }
       }
    }
}

// 商品
.nsg-goods{
    .goods{
            height: 488px;margin-bottom:5px;
        h3{
            font-weight: normal;height: 37px;line-height: 36px;margin-top:18px;border-bottom:2px solid #ddd;
            a{
                color:$mainColor;font-size:16px;border-bottom:2px solid $mainColor;display: inline-block;
            }
            span{
                float: right;font-size: 14px;display: inline-block;
                
            }
        }
        p{
            height: 20px;line-height: 20px;font-size: 12px;padding-top:10px;

            a{
                padding-right:10px;
            }
        }

        li{
            float: left;width: 290px;height: 405px;border:2px solid #fff;margin-right:8px;margin-top:10px;

            img{
                width: 290px;height: 290px;
            }

            div.price{
                border:2px solid #efefef;
                p{
                    overflow:hidden;  width: 280px;white-space: nowrap;text-overflow: ellipsis;padding-left:10px;

                }
                p:last-child{
                    margin:20px 20px 10px 20px;padding:0;width: 250px;height: 50px;
                    span{
                        font-size: 20px;color:#f55;line-height: 20px;
                    }
                    a{
                        display: inline-block;line-height: 30px;font-size: 14px;padding:0 20px;float:right;background:#f55;color:#fff;border-radius:5px;                   
                    }
                    a:hover{
                        color:#f00;
                    }
                }
            }

        }
        li:last-child{margin-right:0;}
        li:hover{
            border:2px solid $mainColor;transform: translate3d(0,-5px,0);box-shadow: 0 5px 5px 5px rgba(0,0,0,.1);
        }
    }
}





