@import 'var';
 

.nsg-login{
    background-color:#FAFAFA;padding:20px 0;

    .login{
        width: 440px;height: 470px;border:1px solid #ddd;border-radius:5px;margin:auto;background-color:#fff;padding:20px;

        .login-t{
            height: 58px;border-bottom:1px solid #ddd;font-size: 18px;line-height: 58px;display:block;position: relative;
            a{
                width: 220px;height: 58px;text-align:center;display:inline-block;position:relative; color:#999;
                border-bottom: 3px solid $mainColor;
                i{
                    position:absolute;
                    border:10px solid transparent;
                    border-top-color:$mainColor;
                    display: block;
                    left:105px;                   
                }
            }
            a:hover{
                text-decoration:none;color:#000;
            }
            a.active{
                border-bottom: 3px solid $mainColor;
            }            
        }
        
        .login-c{
            .user-login{
                padding:30px 50px 0 40px;font-size: 14px;position:relative;
                display: none;

                .username{
                    width: 348px;height: 50px;border:1px solid #ddd;
                    label{
                        padding:0 20px;line-height: 50px;display: inline-block;
                    }
                    input{
                        width: 240px;color:#bbbbbb;
                    }
                }

                .userpsw{
                    @extend .username;
                }

                .auth-code{
                    @extend .username;
                    width: 228px;margin-top:16px;
                    
                    input{
                        width: 120px;
                    }
                }

                .random-code{
                    width: 120px;height: 52px;background-color:#B5CAB5;display: block;line-height: 52px;text-align:center;font-size: 20px;position:absolute;top:150px;right:50px;
                }
                .check{
                    padding:20px 0;font-size: 12px;

                    span{
                        color:#bbbbbb;
                    }

                    a{
                        float:right;
                    }
                    a:hover{
                        color:$mainColor;
                    }
                }

                button{
                    display: block;width: 350px;height: 42px;background-color:$mainColor;border-radius:5px;color:#fff;font-size: 16px;font-weight: bold;
                }
                
            }
            
            .phone-login{
                @extend .user-login;
                // display: none;
                display: block;
                
                .auth-code{
                    margin:0;
                }
                .random-code{
                    top:82px;right:50px;
                }
                .userpsw{
                    margin-bottom:16px;
                }
                
                p{
                    padding:15px 0;line-height: 25px;color:#bbb;font-size: 12px;

                    a{
                        display: inline-block;background-color:#21B384;padding:0 10px;margin:0 5px;border-radius:3px;color:#fff;font-weight: bold;text-decoration:none;
                    }
                }

            }
        }

        .login-b{
            p{
                padding:25px 0 15px 50px;color:#000;font-size: 12px;
            }   

            .link{
                margin-left:40px;
                a{
                    display:inline-block;height: 32px;font-size: 12px;padding:0 10px;
                    
                    i{
                        display: inline-block;background:url(../img/login_pic.png) no-repeat;width: 32px;height: 32px;vertical-align:middle;
                    }
                    i.qq{
                        background-position:0 0 ;
                    }
                    i.wb{
                        background-position:-32px 0 ;
                    }
                }
                a:hover{
                    text-decoration:none;color:$mainColor;
                    i.qq{
                        background-position:-96px 0 ;
                    }
                    i.wb{
                        background-position:-128px 0 ;
                    }
                }
                a:last-child:hover{
                    color:#f55;
                }
            }
        }
    }
}