@charset "UTF-8";
/*清除默认样式*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input { margin: 0; padding: 0; }

fieldset, img, input, button { border: 0 none; padding: 0; margin: 0; outline-style: none; }

/*去掉input等聚焦时的蓝色边框*/
select, input { vertical-align: middle; }

textarea { resize: none; }

/*防止拖动*/
img { border: 0; vertical-align: middle; }

/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse: collapse; }

/*公共样式*/
a { color: #555; text-decoration: none; }

a:hover { text-decoration: underline; color: #FF5555; }

body { margin: 0; padding: 0; color: #555; }

ul { list-style: none; padding: 0; margin: 0; }

/*公共类*/
.container { /*内容、版心 提取 */ width: 1200px; margin: 0 auto; }

.fl { float: left; }

.fr { float: right; }

.ac { text-align: center; }

.hide { display: none; }

.f12 { font-size: 12px; }

.f14 { font-size: 14px; }

.f16 { font-size: 16px; }

.clearfix::after { content: ""; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; zoom: 1; }

.app { background-color: #FFFBEA; color: #ba9c6d; padding: 14px 0; }

.app i { background: url(../img/ico-info.png) no-repeat; width: 22px; height: 23px; margin-right: 10px; display: inline-block; vertical-align: bottom; }

.app a { margin: 0 10px; color: #1cbcb4; }

.top-bar { border-bottom: 1px solid #f0f0f0; background-color: #fafafa; line-height: 30px; font-size: 12px; }

.top-bar .topbar-l { height: 30px; }

.top-bar .topbar-l a:hover { color: #555; }

.top-bar .topbar-l span { padding-left: 10px; }

.top-bar .topbar-l span i { vertical-align: middle; display: inline-block; width: 20px; height: 20px; background: url(../img/toplogin.png) no-repeat; }

.top-bar .topbar-l span i.qq { background-position: 0 0; }

.top-bar .topbar-l span i.weibo { background-position: -20px 0; }

.top-bar .topbar-l span a:hover i.qq { background-position: -60px 0; }

.top-bar .topbar-l span a:hover i.weibo { background-position: -80px 0; }

.top-bar .topbar-r { height: 30px; width: 50%; position: relative; }

.top-bar .topbar-r .my-order { width: 88px; border: 1px solid #eee; z-index: 5; }

.top-bar .topbar-r .my-order em { display: inline-block; vertical-align: middle; width: 15px; height: 15px; margin-left: 10px; background: url(../img/top_ico.png) no-repeat; }

.top-bar .topbar-r .my-order i { display: inline-block; vertical-align: middle; width: 6px; height: 6px; background: url(../img/top_bg.png) 0 0 no-repeat; }

.top-bar .topbar-r .my-order a:hover { text-decoration: none; color: #555; }

.top-bar .topbar-r .my-order ul { display: none; z-index: 5; }

.top-bar .topbar-r .my-order ul li { padding-left: 10px; }

.top-bar .topbar-r .my-order ul li:hover { background: #f0f0f0; }

.top-bar .topbar-r .order1 { position: absolute; top: 0px; right: 180px; }

.top-bar .topbar-r .order1 em { background-position: -30px -15px; }

.top-bar .topbar-r .order2 { position: absolute; top: 0px; right: 90px; }

.top-bar .topbar-r .order2 em { background-position: -45px -15px; }

.top-bar .topbar-r .order3 { position: absolute; top: 0px; right: 0px; }

.top-bar .topbar-r .order3 em { background-position: -60px -15px; }

.top-bar .topbar-r .hover { border: 1px solid #eee; background-color: #fff; }

.top-bar .topbar-r .hover ul { display: block; }

.top-logo { height: 80px; font-size: 12px; width: 100%; background: #fff; z-index: 10; padding-top: 20px; }

.top-logo h2 { width: 400px; }

.top-logo .search { width: 500px; height: 40px; border: 2px solid #2F97F0; border-radius: 30px; position: relative; }

.top-logo .search a { font-size: 14px; display: inline-block; line-height: 40px; margin: 0 15px; padding: 0 10px; background: #fff; }

.top-logo .search a.shop2 { position: absolute; top: 40px; left: 0px; display: none; }

.top-logo .search a:hover { text-decoration: none; color: #555; }

.top-logo .search input { width: 335px; }

.top-logo .search button { display: inline-block; width: 78px; height: 36px; color: #fff; border-radius: 20px; cursor: pointer; background-color: #2F97F0; }

.top-logo ul li { float: left; margin: 10px 10px 0 0; }

.top-logo ul li a:hover { text-decoration: none; color: #555; }

.top-logo .user-menu { padding: 0px 0 10px 40px; }

.top-logo .user-menu em { display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin-left: 10px; background: url(../img/top_bg.png) no-repeat; }

.top-logo .user-menu i { font-size: 12px; color: #aaa; }

.top-logo .user-menu a:hover { text-decoration: none; color: #555; }

.top-logo .user-menu .my-mall { width: 110px; height: 38px; border: 1px solid #eee; line-height: 38px; background-color: #fafafa; position: relative; }

.top-logo .user-menu .my-mall em { background-position: -100px 0; }

.top-logo .user-menu .my-mall .mall-inc { border: 1px solid #eee; width: 300px; min-height: 221px; position: absolute; top: 38px; right: -1px; background: #fff; z-index: 2; display: none; }

.top-logo .user-menu .my-mall .mall-inc .mall-inc-t { height: 40px; padding-right: 10px; border-bottom: 1px solid #eee; text-align: right; }

.top-logo .user-menu .my-mall .mall-inc .mall-inc-c { padding: 10px 0; height: 90px; }

.top-logo .user-menu .my-mall .mall-inc .mall-inc-c .inc { width: 139px; padding-left: 10px; border-right: 1px solid #eee; }

.top-logo .user-menu .my-mall .mall-inc .mall-inc-c .inc a { color: #2F97F0; display: block; width: 139px; height: 30px; line-height: 30px; }

.top-logo .user-menu .my-mall .mall-inc .mall-inc-b { padding: 0 10px; }

.top-logo .user-menu .my-mall .mall-inc .mall-inc-b a { float: right; color: #2F97F0; }

.top-logo .user-menu .my-mall .mall-inc .mall-inc-b span { float: left; }

.top-logo .user-menu .my-mall .mall-inc p { height: 30px; line-height: 30px; padding: 0 10px; text-align: center; }

.top-logo .user-menu .my-mall:hover { background: #fff; }

.top-logo .user-menu .my-mall:hover i { transform: rotate(180deg); }

.top-logo .user-menu .my-mall:hover .mall-inc { display: block; }

.top-logo .user-menu .my-cart { width: 125px; height: 38px; border: 1px solid #eee; margin-left: 6px; line-height: 38px; background-color: #fafafa; position: relative; }

.top-logo .user-menu .my-cart em { background-position: -120px 0; }

.top-logo .user-menu .my-cart .shu { border-radius: 50%; background: #f00; position: absolute; top: -10px; left: 21px; display: inline-block; width: 20px; height: 20px; font-weight: bold; font-size: 16px; line-height: 20px; text-align: center; color: #fff; }

.top-logo .user-menu .my-cart .car-list { width: 400px; border: 1px solid #ddd; background: #fff; position: relative; top: 0px; right: 276px; z-index: 5; display: none; }

.top-logo .user-menu .my-cart .car-list h3 { height: 40px; line-height: 40px; padding-left: 10px; border-bottom: 1px solid #ddd; }

.top-logo .user-menu .my-cart .car-list ul.shopcar { width: 400px; }

.top-logo .user-menu .my-cart .car-list ul.shopcar li { border-bottom: 1px solid #ddd; height: 70px; width: 400px; clear: both; }

.top-logo .user-menu .my-cart .car-list ul.shopcar li img { float: left; padding: 0 10px; width: 50px; height: 50px; }

.top-logo .user-menu .my-cart .car-list ul.shopcar li .goodsname { width: 240px; line-height: 20px; height: 70px; padding-right: 10px; float: left; }

.top-logo .user-menu .my-cart .car-list ul.shopcar li .goodsp { float: left; width: 60px; height: 70px; vertical-align: top; }

.top-logo .user-menu .my-cart .car-list .cart-b { background: #eee; height: 70px; width: 400px; overflow: hidden; }

.top-logo .user-menu .my-cart .car-list .cart-b p { text-align: right; padding-right: 10px; height: 30px; line-height: 30px; }

.top-logo .user-menu .my-cart .car-list .cart-b p span { color: #c00; font-style: 16px; line-height: 30px; }

.top-logo .user-menu .my-cart .car-list .cart-b button { float: right; background: #2F97F0; padding: 5px 10px; border-radius: 3px; }

.top-logo .user-menu .my-cart .car-list .cart-b button a { color: #fff; }

.top-logo .user-menu .my-cart:hover { background: #fff; }

.top-logo .user-menu .my-cart:hover i { transform: rotate(180deg); }

.top-logo .user-menu .my-cart:hover .car-list { display: block; }

.logo-top { position: fixed; top: 0; left: 0; height: 50px; padding-top: 5px; }

.logo-top ul.sear { display: none; }

.msp { margin-bottom: 100px; }

.nav { background-color: #2F97F0; }

.nav li { float: left; height: 35px; }

.nav li i.lei { display: inline-block; vertical-align: middle; width: 18px; height: 18px; padding-right: 10px; background: url(../img/top_bg.png) -182px -186px no-repeat; }

.nav li i.dapp { display: inline-block; vertical-align: middle; width: 14px; height: 25px; padding-right: 10px; background: url(../img/icon_download.png) 8px 0 no-repeat; }

.nav li a { color: #fff; font-size: 16px; line-height: 35px; height: 35px; display: inline-block; text-decoration: none; padding: 0 18px; }

.nav li a:hover { background-color: #1280DD; }

.nav li:first-child { background-color: #1280DD; }

.nav li:last-child { float: right; }

.nav li:last-child:hover { background-color: #1280DD; }

.nav li:nth-child(2) { font-weight: bold; }

.nav li:first-child, .nav li:last-child { padding: 0 10px; }

.nav li:first-child a, .nav li:last-child a { padding: 0 5px; }

.nav li:first-child a:hover, .nav li:last-child a:hover { text-decoration: underline; }

.footer-link { background-color: #f4f4f4; height: 340px; width: 100%; font-size: 16px; }

.footer-link .footer-link-t { border-top: 1px solid #eee; border-bottom: 1px solid #eee; height: 110px; }

.footer-link .footer-link-t .container { background: url(../img/nsgfoot_bz.png) no-repeat; height: 90px; margin: 10px auto; }

.footer-link .footer-link-b { width: 100%; height: 230px; padding-top: 50px; }

.footer-link .footer-link-b .qr-code { margin-left: 24px; width: 160px; height: 180px; }

.footer-link .footer-link-b .qr-code p { padding-left: 25px; font-size: 12px; }

.footer-link .footer-link-b ul li { float: left; border-right: 1px solid #eee; padding: 0 33px; }

.footer-link .footer-link-b ul li h3 { font-size: 18px; line-height: 36px; }

.footer-link .footer-link-b ul li p { line-height: 40px; }

.footer-link .footer-link-b ul li p a:hover { color: #555; }

.footer-link .footer-link-b ul li.contact-us { border: none; }

.footer-link .footer-link-b ul li.contact-us p:nth-child(3) { font-size: 12px; line-height: 12px; }

.footer-link .footer-link-b ul li.contact-us p:last-child { border: 1px solid #eee; border-radius: 5px; width: 100px; height: 28px; line-height: 25px; text-align: center; font-size: 14px; margin-top: 10px; cursor: pointer; }

.footer-link .footer-link-b ul li.follow-us { border: none; padding-left: 50px; }

.footer-link .footer-link-b ul li.follow-us i { background: url(../img/indexBottom.png) no-repeat; width: 45px; height: 45px; display: inline-block; margin-top: 10px; }

.footer-link .footer-link-b ul li.follow-us i:nth-child(2) { background-position: -8px 0; margin-right: 15px; }

.footer-link .footer-link-b ul li.follow-us i:nth-child(3) { background-position: -8px -45px; }

.footer-bottom { width: 100%; height: 70px; padding-top: 20px; }

.footer-bottom p { font-size: 14px; text-align: center; line-height: 30px; }

.footer-bottom p:nth-child(1) a { padding: 0 10px; }

.header { width: 100%; height: 80px; border-bottom: 3px solid #EAF4FA; }

.header img { width: 220px; height: 60px; margin: 10px 0; }

.header span { font-size: 12px; padding: 7px 20px; margin: 25px 0 25px 15px; border: 1px solid #FFB4A8; background-color: #FEF2F2; }

.header a:last-child { background-color: #2F97F0; color: #fff; font-size: 14px; padding: 6px 20px; margin: 25px 0; float: right; border-radius: 3px; }
