.nsg-goods { font-size: 12px; }

.nsg-goods h3 { height: 40px; line-height: 40px; font-weight: normal; border-bottom: 2px solid #2F97F0; }

.nsg-goods h3 a:hover { color: #2F97F0; }

.nsg-goods .hot { height: 140px; border: 1px solid #ddd; }

.nsg-goods .hot p { height: 40px; line-height: 40px; background: #F5F5F5; font-size: 14px; padding-left: 10px; }

.nsg-goods .sort { height: 40px; line-height: 40px; margin: 10px 0; background: #f5f5f5; border: 1px solid #ddd; }

.nsg-goods .sort li { height: 40px; float: left; border-right: 1px solid #ddd; }

.nsg-goods .sort li a, .nsg-goods .sort li span { padding: 0 10px; text-decoration: none; cursor: pointer; }

.nsg-goods .sort li a:hover { color: #2F97F0; }

.nsg-goods .sort li input { display: inline-block; width: 50px; height: 25px; margin: 4px 10px; border: 1px solid #ddd; }

.nsg-goods .sort li a:nth-child(3) { border: 1px solid #ddd; display: inline-block; height: 24px; line-height: 25px; margin: 6px 10px 4px 0; }

.nsg-goods .sort li:first-child { padding: 0 10px; }

.nsg-goods .sort li:first-child:hover { background: #f5f5f5; }

.nsg-goods .sort li:hover { background: #fff; }

.nsg-goods .sort .grant span { padding: 0 10px; }

.nsg-goods .sort .region { margin-left: 70px; }

.nsg-goods .sort .region span { border: 1px solid #ddd; background: #fff; padding: 2px 10px; }

.nsg-goods .sort .page-top { padding-right: 10px; }

.nsg-goods .sort .page-top span { border: 1px solid #ddd; padding: 3px 10px; background: #fff; color: #2F97F0; cursor: pointer; }

.nsg-goods .sort .page-top span:hover { background: #2F97F0; border: 1px solid #f55; color: #fff; }

.nsg-goods .page { margin: 30px; height: 30px; text-align: center; }

.nsg-goods .page span { padding: 5px 15px; margin: 10px; background: #ddd; color: #555; cursor: pointer; }

.nsg-goods .page span.activel { background: #2F97F0; color: #fff; }

.nsg-goods .goodslist { box-sizing: border-box; clear: both; }

.nsg-goods .goodslist .goods { cursor: pointer; float: left; width: 300px; height: 370px; margin-top: 10px; }

.nsg-goods .goodslist .goods .main { border: 1px solid #f0f0f0; width: 300px; height: 370px; overflow: hidden; position: relative; }

.nsg-goods .goodslist .goods .main img { margin: 10px 29px; }

.nsg-goods .goodslist .goods .main .toup { background: #fff; left: 0; top: 260px; }

.nsg-goods .goodslist .goods .main .toup a:hover { color: #2F97F0; }

.nsg-goods .goodslist .goods .main .toup p { padding: 0 10px; }

.nsg-goods .goodslist .goods .main .toup .start { padding: 10px; }

.nsg-goods .goodslist .goods .main .toup .start em { width: 90px; height: 20px; display: inline-block; vertical-align: middle; float: right; background: url(../img/start.png) no-repeat; }

.nsg-goods .goodslist .goods .main .toup .start .sale { color: #c00; font-size: 18px; padding-right: 10px; font-weight: bold; }

.nsg-goods .goodslist .goods .main .toup .contrast { position: relative; height: 30px; }

.nsg-goods .goodslist .goods .main .toup .contrast span { border: 1px solid #ddd; padding: 2px 10px; margin-right: 10px; position: absolute; top: 0; right: 0; cursor: pointer; }

.nsg-goods .goodslist .goods .main .toup .moods { width: 201px; height: 50px; margin: 4px auto; border-top: 1px solid #ddd; }

.nsg-goods .goodslist .goods .main .toup .moods li { float: left; width: 100px; height: 50px; border-right: 1px solid #ddd; text-align: center; }

.nsg-goods .goodslist .goods .main .toup .moods li span { width: 100px; color: #2F97F0; display: inline-block; padding: 5px 0; }

.nsg-goods .goodslist .goods .main .toup .moods li:last-child { border-right: none; }

.nsg-goods .goodslist .goods .main .toup .store { height: 40px; line-height: 40px; background: #ddd; text-align: center; }

.nsg-goods .goodslist .goods .main .toup .to-cart { height: 40px; line-height: 40px; font-size: 16px; color: #fff; background: #2F97F0; text-align: center; font-weight: bold; cursor: pointer; }
