.carousel-content { width: 100%; height: 400px; position: relative; }

.carousel-content .carousel { width: 100%; height: 100%; position: relative; overflow: hidden; border-radius: 5px; }

.carousel-content .carousel li { float: left; position: absolute; display: none; width: 100%; height: 100%; }

.carousel-content .carousel li img { width: 100%; height: 100%; background: center no-repeat; }

.carousel-content .carousel li a { display: inline-block; width: 800px; height: 300px; position: absolute; top: 0; left: 300px; }

.carousel-content .carousel-index { position: absolute; bottom: 20px; width: 100%; display: flex; justify-content: center; }

.carousel-content .carousel-index li { float: left; width: 45px; height: 6px; border-radius: 5px; background-color: rgba(10, 10, 10, 0.3); cursor: pointer; margin: 0 3px; }

.carousel-content .carousel-index li.current-index { background-color: #2F97F0; }

.carousel-content .carousel-prev, .carousel-content .carousel-next { position: absolute; top: 0; bottom: 0; cursor: pointer; margin: auto; width: 40px; height: 80px; background: rgba(0, 0, 0, 0.1); }

.carousel-content .carousel-prev img, .carousel-content .carousel-next img { width: 100%; height: 100%; }

.carousel-content .carousel-prev:hover, .carousel-content .carousel-next:hover { background: rgba(0, 0, 0, 0.5); }

.carousel-content .carousel-prev { left: 50px; }

.carousel-content .carousel-next { right: 50px; }

.nsg-goods .goods { height: 488px; margin-bottom: 5px; }

.nsg-goods .goods h3 { font-weight: normal; height: 37px; line-height: 36px; margin-top: 18px; border-bottom: 2px solid #ddd; }

.nsg-goods .goods h3 a { color: #2F97F0; font-size: 16px; border-bottom: 2px solid #2F97F0; display: inline-block; }

.nsg-goods .goods h3 span { float: right; font-size: 14px; display: inline-block; }

.nsg-goods .goods p { height: 20px; line-height: 20px; font-size: 12px; padding-top: 10px; }

.nsg-goods .goods p a { padding-right: 10px; }

.nsg-goods .goods li { float: left; width: 290px; height: 405px; border: 2px solid #fff; margin-right: 8px; margin-top: 10px; }

.nsg-goods .goods li img { width: 290px; height: 290px; }

.nsg-goods .goods li div.price { border: 2px solid #efefef; }

.nsg-goods .goods li div.price p { overflow: hidden; width: 280px; white-space: nowrap; text-overflow: ellipsis; padding-left: 10px; }

.nsg-goods .goods li div.price p:last-child { margin: 20px 20px 10px 20px; padding: 0; width: 250px; height: 50px; }

.nsg-goods .goods li div.price p:last-child span { font-size: 20px; color: #f55; line-height: 20px; }

.nsg-goods .goods li div.price p:last-child a { display: inline-block; line-height: 30px; font-size: 14px; padding: 0 20px; float: right; background: #f55; color: #fff; border-radius: 5px; }

.nsg-goods .goods li div.price p:last-child a:hover { color: #f00; }

.nsg-goods .goods li:last-child { margin-right: 0; }

.nsg-goods .goods li:hover { border: 2px solid #2F97F0; transform: translate3d(0, -5px, 0); box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1); }
