.app { background-color: #FFFBEA; color: #ba9c6d; padding: 14px 0; }

.app i { background: url(../img/ico-info.png) no-repeat; width: 22px; height: 23px; margin-right: 10px; display: inline-block; vertical-align: bottom; }

.app a { margin: 0 10px; color: #1cbcb4; }

.top-bar { border-bottom: 1px solid #f0f0f0; background-color: #fafafa; line-height: 30px; font-size: 12px; }

.top-bar .topbar-l { height: 30px; }

.top-bar .topbar-l a:hover { color: #555; }

.top-bar .topbar-l span { padding-left: 10px; }

.top-bar .topbar-l span i { vertical-align: middle; display: inline-block; width: 20px; height: 20px; background: url(../img/toplogin.png) no-repeat; }

.top-bar .topbar-l span i.qq { background-position: 0 0; }

.top-bar .topbar-l span i.weibo { background-position: -20px 0; }

.top-bar .topbar-l span a:hover i.qq { background-position: -60px 0; }

.top-bar .topbar-l span a:hover i.weibo { background-position: -80px 0; }

.top-bar .topbar-r { height: 30px; width: 50%; position: relative; }

.top-bar .topbar-r .my-order { width: 78px; padding-left: 10px; border: 1px solid #fafafa; }

.top-bar .topbar-r .my-order em { display: inline-block; vertical-align: middle; width: 15px; height: 15px; background: url(../img/top_ico.png) no-repeat; }

.top-bar .topbar-r .my-order i { display: inline-block; vertical-align: middle; width: 6px; height: 6px; background: url(../img/top_bg.png) 0 0 no-repeat; }

.top-bar .topbar-r .my-order a:hover { text-decoration: none; color: #555; }

.top-bar .topbar-r .my-order ul { display: none; }

.top-bar .topbar-r .order1 { position: absolute; top: 0px; right: 180px; }

.top-bar .topbar-r .order1 em { background-position: -30px -15px; }

.top-bar .topbar-r .order2 { position: absolute; top: 0px; right: 90px; }

.top-bar .topbar-r .order2 em { background-position: -45px -15px; }

.top-bar .topbar-r .order3 { position: absolute; top: 0px; right: 0px; }

.top-bar .topbar-r .order3 em { background-position: -60px -15px; }

.top-bar .topbar-r .hover { border: 1px solid #eee; background-color: #fff; }

.top-bar .topbar-r .hover ul { display: block; }

.top-logo { height: 100px; font-size: 12px; }

.top-logo h2 { padding-top: 15px; width: 400px; }

.top-logo .search { width: 500px; height: 40px; border: 2px solid #2F97F0; border-radius: 30px; margin-top: 20px; position: relative; }

.top-logo .search a { font-size: 14px; display: inline-block; line-height: 40px; margin: 0 15px; padding: 0 10px; background: #fff; }

.top-logo .search a.shop2 { position: absolute; top: 40px; left: 0px; display: none; }

.top-logo .search a:hover { text-decoration: none; color: #555; }

.top-logo .search input { width: 335px; }

.top-logo .search button { display: inline-block; width: 78px; height: 36px; color: #fff; border-radius: 20px; cursor: pointer; background-color: #2F97F0; }

.top-logo ul li { float: left; margin: 10px 10px 0 0; }

.top-logo ul li a:hover { text-decoration: none; color: #555; }

.top-logo .user-menu { padding: 20px 0 40px 50px; }

.top-logo .user-menu em { display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin-left: 10px; background: url(../img/top_bg.png) no-repeat; }

.top-logo .user-menu a:hover { text-decoration: none; color: #555; }

.top-logo .user-menu .my-mall { width: 110px; height: 38px; border: 1px solid #eee; line-height: 38px; background-color: #fafafa; }

.top-logo .user-menu .my-mall em { background-position: -100px 0; }

.top-logo .user-menu .my-cart { width: 125px; height: 38px; border: 1px solid #eee; margin-left: 6px; line-height: 38px; background-color: #fafafa; }

.top-logo .user-menu .my-cart em { background-position: -120px 0; }

.nav { background-color: #2F97F0; }

.nav li { float: left; height: 35px; }

.nav li a { color: #fff; font-size: 16px; line-height: 35px; padding: 0 20px; height: 35px; display: inline-block; }

.nav li a:hover { background-color: #1280DD; text-decoration: none; }

.nav li:nth-child(2) { font-weight: bold; }

.nav li:first-child a:hover, .nav li:last-child a:hover { text-decoration: underline; }

.banner { height: 400px; }

.banner ul { position: relative; width: 100%; height: 100%; }

.banner ul li { position: absolute; width: 100%; height: 100%; background: url(../img/web-1.jpg) center top no-repeat; }

.banner ul li a { display: inline-block; left: 50%; top: 0; position: absolute; transform: translate(-50%, 0); width: 776px; height: 300px; background: rgba(0, 0, 0, 0); }

.nsg-goods .goods { height: 488px; margin-bottom: 5px; }

.nsg-goods .goods h3 { font-weight: normal; height: 37px; line-height: 36px; margin-top: 18px; border-bottom: 2px solid #ddd; }

.nsg-goods .goods h3 a { color: #2F97F0; font-size: 16px; border-bottom: 2px solid #2F97F0; display: inline-block; }

.nsg-goods .goods h3 span { float: right; font-size: 14px; display: inline-block; }

.nsg-goods .goods p { height: 20px; line-height: 20px; font-size: 12px; padding-top: 10px; }

.nsg-goods .goods p a { padding-right: 10px; }

.nsg-goods .goods li { float: left; width: 290px; height: 405px; border: 2px solid #fff; margin-right: 8px; margin-top: 10px; }

.nsg-goods .goods li img { width: 290px; height: 290px; }

.nsg-goods .goods li div.price { border: 2px solid #efefef; }

.nsg-goods .goods li div.price p { overflow: hidden; width: 280px; white-space: nowrap; text-overflow: ellipsis; padding-left: 10px; }

.nsg-goods .goods li div.price p:last-child { margin: 20px 20px 10px 20px; padding: 0; width: 250px; height: 50px; }

.nsg-goods .goods li div.price p:last-child span { font-size: 20px; color: #f55; line-height: 20px; }

.nsg-goods .goods li div.price p:last-child a { display: inline-block; line-height: 30px; font-size: 14px; padding: 0 20px; float: right; background: #f55; color: #fff; border-radius: 5px; }

.nsg-goods .goods li div.price p:last-child a:hover { color: #f00; }

.nsg-goods .goods li:last-child { margin-right: 0; }

.nsg-goods .goods li:hover { border: 2px solid #2F97F0; transform: translate3d(0, -5px, 0); box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1); }
